@media (min-width: 250px) and (max-width: 1200px) {
	.responsive {
		display: flex !important;
		flex-direction: column !important;
		background-color: #1f1d21;
		align-items: center !important;
		border: 5px solid #e85f5c !important;
		border-radius: 20px !important;
		padding: 20px;
	}
}
